<% include header.ejs %>
<% include functions.ejs %>

<div class="container">

<section>
    <% if(message) {
        handleMessage(message)
    } %>
</section>

<section>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Frame work gebaseerd op Aida marketing model (klik voor meer info)
                    </a>
                </h4>
                
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>
                        Het AIDA model is een model dat beschrijft welke vier stappen moeten worden gezet om je doelgroep aan te 
                        zetten tot een actie. De letters uit het AIDA model staan voor <strong>Attention, Interest, Desire en Action</strong>. 
                        Deze woorden zijn de vier stappen die moeten worden ondernomen. 
                    </p>
                    <img src="https://www.marketingportaal.nl/wp-content/uploads/2013/05/aida1.gif">
                    <h4>Het AIDA model uitgelegd</h4>
                    <ul>
                        <li>
                            Attention: in de eerste fase wordt de doelgroep blootgesteld aan een boodschap. Dit kan bijvoorbeeld een commercial zijn. De bedoeling in deze fase is dat de doelgroep de boodschap opmerkt. De boodschap moet de aandacht van de doelgroep wekken, het moet nieuwsgierig maken.
                        </li>
                        <li>
                            Interest: in deze fase moet de interesse van de doelgroep worden opgewekt. De doelgroep moet de indruk krijgen dat de boodschap relevant voor hen is. Dit kan bijvoorbeeld worden gedaan door unieke verkooppunten te noemen.
                        </li>
                        <li>
                            Desire: in de volgende fase gaat het om verlangen. De interesse moet worden om gezet in een verlangen naar het product of dienst. De doelgroep moet het gevoel krijgen het echt nodig te hebben en er niet zonder te kunnen.

                        </li>
                        <li>
                            Action: in de laatste fase wordt de doelgroep opgeroepen tot het uitvoeren van een actie. Als zij de actie daadwerkelijke uitvoeren, is het doel van de boodschap bereikt.

                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>

    <div class="row">

    <form name="editlandingspageform" class="form" action="/admin/editlandingspage" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        
        <h1>Edit Landingspage</h1>
        
        <!--
        richting van de oplossing:
        
        http://stackoverflow.com/questions/18649881/handling-input-arrays-in-express-forms
        
        -->
        
        <% include components/companyinfo.admin.ejs %>
        <% include ../landingspage/components/basicinfo.admin.ejs %>
        <% include ../landingspage/components/abovethefold.admin.ejs %>
        <% include ../landingspage/components/affiliate.admin.ejs %>
        
        <% include ../landingspage/components/quickselect.admin.ejs %>
        <% include ../landingspage/components/whatdowedo.admin.ejs %>
        <% include ../landingspage/components/testimonials.admin.ejs %>
        <% include ../landingspage/components/threedeals.admin.ejs %>
        <% include ../landingspage/components/shortstory.admin.ejs %>
        
        <% include components/articles.admin.ejs %>
        <% include ../landingspage/components/directcalltoaction.admin.ejs %>
        <% include ../landingspage/components/longstory.admin.ejs %>
    
       
        
        
        <div class="quick-menu" style="position: fixed;bottom: 5%;right: 4%; z-index: 10;">
            
            <button type="submit" class="btn btn-primary" title="Save changes">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>

            <a href="" class="btn btn-default" title="New Page">
                <span class="glyphicon glyphicon-file"></span>
            </a>
            
            <a href="/" class="btn btn-info" target="_blank" title="Landingspage">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            
        </div>
    
        <hr>
        <input type="submit" class="btn btn-xl btn-primary" value="Save">
        <a href="/" target="_blank" class="btn btn-info">Bekijk wijzigingen</a>
    </form>
    
    <section>
        <h3>Handige zaken</h3>
        <ul class="list-group">
            <a class="list-group-item list-group-item-info" href="http://digitalmarkets.nl/api/subscribe?id=180812012&href=<%= data.meta.url %>&anchortext=<%= data.meta.title %>" target="_blank">
                <span class="badge">!</span>
                Website aanmelden op DigitalMarkets.nl (pas doen als website minimaal 1x opgeslagen is)
            </a>
            <a class="list-group-item" href="https://support.google.com/webmasters/answer/6259634" target="_blank">
                Get your site on Google
            </a>
            <a class="list-group-item" href="http://www.bing.com/toolbox/submit-site-url" target="_blank">
                Submit your site to Bing
            </a>
            
        </ul>
        <h3>Uploadcare uploaden images</h3>
        <input type="hidden" name="picture" role="uploadcare-uploader" />
        
        <h3>Resources voor later?</h3>
        <ul class="list-group">
            <a class="list-group-item" href="https://www.addthis.com/plans" target="_blank">
                www.addthis.com | AddThis share buttons, targeting tools and content recommendations help you get more likes, shares and followers and keep them coming back
            </a>
        </ul>
        
    </section> 
    
</div>    
<div id="timer" style="position: fixed; z-index: 100; bottom: 8px; left: 16px; color: white; background: dodgerblue; padding: 10px">
    <p>One Hour Setup</p>
    <i class="fa fa-clock-o fa-2x"></i> <span id="time">00:00:00</span>
</div>


</div> <!-- END CONTAINER -->

<script>
    window.onload = function() {
        var timer = document.getElementById("time");
        var start = new Date();
        setInterval(function(){
            var t = getTime(start);
            timer.innerHTML = ('0' + t.hours).slice(-2) + ":" + ('0' + t.minutes).slice(-2) + ":" + ('0' + t.seconds).slice(-2);
        },1000);
    };
    function getTime(startTime){
      var t =  Date.parse(new Date()) - Date.parse(startTime);
      var seconds = Math.floor( (t/1000) % 60 );
      var minutes = Math.floor( (t/1000/60) % 60 );
      var hours = Math.floor( (t/(1000*60*60)) % 24 );
      var days = Math.floor( t/(1000*60*60*24) );
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }
</script>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<% include footer.ejs %>

<% function formGroup(type, name, label, value, helpblock) { %>

    <% if(type=="textarea") { %>
    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
        <textarea name="<%= name %>" class="form-control" rows="3"><%- trim(value) %></textarea>
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </div>
    <% return; } %>

    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
        <input type="<%= type %>" name="<%= name %>" class="form-control" id="<%= name %>" placeholder="" value="<%= value %>">
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </div>    
<% }%>

<% function checkbox(name, label, value, helpblock) { %>
    <div class="checkbox">
        <label>
            <% if(value) { %>
                <input type="checkbox" name="<%= name %>" checked> <%= label %>
            <% } else { %>
                <input type="checkbox" name="<%= name %>"> <%= label %>
            <% } %>
        </label>
        <% if(helpblock) { %>
            <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
  </div>
<% } %>

<% function selectFromList(name, label, value, listItems, helpblock) { %>
    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
    <select name="<%=name%>" class="form-control">
        <% for(var i=0; i<listItems.length; i++) {
            var item = listItems[i]; %>
            <% if(item == value) { %>
                <option selected value="<%= item %>"><%= item %></option>   
            <% } else { %>
                <option value="<%= item %>"><%= item %></option>
            <% } %>
        <% } %>
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </select>
    
    </div>
<% }%>

<% function trim(value) {
    return value.replace(/^\s+|\s+$/gm,'');
}
%>

<% function handleMessage(message) { %>
    <% if(message.success!="") { %>
        <div class="alert alert-success" role="alert"><%= message.success %></div>
    <% } %>
    <% if(message.info!="") { %>
        <div class="alert alert-info" role="alert"><%= message.info %></div>
    <% } %>
    <% if(message.warning!="") { %>
        <div class="alert alert-warning" role="alert"><%= message.warning %></div>
    <% } %>
<% } %>