<% include header.ejs %>


    <div class="row">
    
    <% handleMessage(message) %>
        
    <form class="form" action="/admin/editlandingspage" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        
        <h1>Edit Landingspage</h1>
        <div class="quick-menu" style="position: fixed;bottom: 5%;right: 4%; z-index: 10;">
            
            <button type="button" class="btn btn-primary" title="Save changes">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>

            <a href="" class="btn btn-default" title="New Page">
                <span class="glyphicon glyphicon-file"></span>
            </a>
            
        </div>
        
        
        <h2 class="text-primary"><i class="fa fa-cog"></i> Basis Informatie</h2>
            <%
                formGroup("text", "meta.name", "Naam van de website", data.meta.name);
                formGroup("text", "meta.url", "Url van de website", data.meta.url);
                formGroup("text", "meta.title", "Titel in google search results", data.meta.title);
                formGroup("textarea", "meta.description", "Omschrijving in google search results", data.meta.description);
                selectFromList("meta.robots", "Robots", data.meta.robots, ["index, follow","noindex, nofollow","index, no follow", "noindex, follow"]);
                formGroup("textarea", "meta.googleAnalytics", "Google Analytics Code", data.meta.googleAnalytics, "Code inclusief de script tags.");
            %>
        
        
            
        
        <h2 class="text-primary"><i class="fa fa-eye"></i> Above the fold</h2>
        <%
            formGroup("text", "aboveTheFold.image", "URL image", data.aboveTheFold.image, 'Bij voorkeur een image vanuit CDN uploadcare account. <a href="https://uploadcare.com/">https://uploadcare.com/</a>');
            formGroup("text", "aboveTheFold.h1", "H1 tag", data.aboveTheFold.h1);
            formGroup("text", "aboveTheFold.h3", "Tagline van de website", data.aboveTheFold.h3);
            formGroup("text", "aboveTheFold.callToAction.href", "Call To Action Button Url", data.aboveTheFold.callToAction.href);
            formGroup("text", "aboveTheFold.callToAction.text", "Call To Action Button Tekst", data.aboveTheFold.callToAction.text);
            formGroup("text", "meta.social.facebook", "Facebook Pagina", data.meta.social.facebook);
            formGroup("text", "meta.social.google", "Google Plus Pagina", data.meta.social.google);
            formGroup("text", "meta.social.twitter", "Twitter Pagina", data.meta.social.twitter);
        %>
        <h2 class="text-primary"><i class="fa fa-question"></i> What do we do?</h2>
        <%
            checkbox("whatdowedo.active", "actief", data.whatdowedo.active, "Niet aangevinkt betekent dat dit element niet zichtbaar is op de website.")
            formGroup("text", "whatdowedo.title", "Titel omschrijving wat de website doet", data.whatdowedo.title);
            formGroup("textarea", "whatdowedo.missionStatement", "Mission Statement", data.whatdowedo.missionStatement);
            
        %>
        
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
</div>    




<% include footer.ejs %>

<% function formGroup(type, name, label, value, helpblock) { %>

    <% if(type=="textarea") { %>
    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
        <textarea name="<%= name %>" class="form-control" rows="3"><%- trim(value) %></textarea>
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </div>
    <% return; } %>

    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
        <input type="<%= type %>" name="<%= name %>" class="form-control" id="<%= name %>" placeholder="" value="<%= value %>">
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </div>    
<% }%>

<% function checkbox(name, label, value, helpblock) { %>
    <div class="checkbox">
        <label>
            <% if(value) { %>
                <input type="checkbox" name="<%= name %>" checked> <%= label %>
            <% } else { %>
                <input type="checkbox" name="<%= name %>"> <%= label %>
            <% } %>
        </label>
        <% if(helpblock) { %>
            <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
  </div>
<% } %>

<% function selectFromList(name, label, value, listItems, helpblock) { %>
    <div class="form-group">
        <label for="<%= name %>"><%= label %></label>
    <select name="<%=name%>" class="form-control">
        <% for(var i=0; i<listItems.length; i++) {
            var item = listItems[i]; %>
            <% if(item == value) { %>
                <option selected value="<%= item %>"><%= item %></option>   
            <% } else { %>
                <option value="<%= item %>"><%= item %></option>
            <% } %>
        <% } %>
        <% if(helpblock) { %>
        <p class="help-block"><i class="fa fa-info-circle"></i> <%- helpblock %></p>   
        <% } %>
    </select>
    
    </div>
<% }%>

<% function trim(value) {
    return value.replace(/^\s+|\s+$/gm,'');
}
%>

<% function handleMessage(message) { %>
    <% if(message.success!="") { %>
        <div class="alert alert-success" role="alert"><%= message.success %></div>
    <% } %>
    <% if(message.info!="") { %>
        <div class="alert alert-info" role="alert"><%= message.info %></div>
    <% } %>
    <% if(message.warning!="") { %>
        <div class="alert alert-warning" role="alert"><%= message.warning %></div>
    <% } %>
    <% if(message.danger!="") { %>
        <div class="alert alert-danger" role="alert"><%= message.danger %></div>
    <% } %>
<% } %>