
<section>
    
    <div class="container">
        <div class="row">
            <h2>Bekijk ook deze handige sites</h2>
            <div class="flex-container" >
                
            <% for(var index in allWebsites) {
                var website = allWebsites[index]; %>
                <a href="<%= website.href%>" target="_blank" class="col-sm-4 col-md-3" class="" style="">
                    <img src="<%= website.image %>-/resize/320x/" class="img-responsive" style="padding: 0px;">
                    <h5 style="background: rgba(0,0,0,.5); color: white; width: 100%; padding: 8px 8px; "><%=website.title%></h5>
                </a>
            <% } %>    
            </div>
        </div>
    </div>
</section>

<footer class="footer">

    <div class="container-fluid">
        
        <div class="row footer-links">
            <div class="col-md-offset-2 col-md-2">
                <ul class="no-bullets">
                    <h4>Informatie</h4>
                <% for(var index in pages) { 
                    if(pages[index] == "" ) continue;
                    if(index > 9) break;
                    %>
                    <li>
                        <a href="/<%=pages[index]%>"><%=pages[index].replace(/-/g, " "); %></a>
                    </li>
                <% } %>    
                    
                    
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="no-bullets">
                    <h4>Interessant</h4>
                <% for(var index in allWebsites) {
                    var website = allWebsites[index]; %>
                    <li>
                        <a href="<%= website.href %>" title="<%= website.title %>" target="_blank">
                            <%= website.anchortext %>
                        </a>
                    </li>
                    
                <% } %>
                    
                
                </ul>
            </div>
            <div class="col-md-2">
                
                <ul class="no-bullets">
                    <h4>Company</h4>
                    <li>
                        <a href="<%= algemeen.company.url %>" target="_blank" title="website">
                            Website    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.company.url %>/overons" target="_blank" title="over ons">
                            Over ons    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.company.url %>/vacatures" target="_blank" title="vacatures">
                            Vacatures    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.company.url %>/contact" target="_blank" title="contact">
                            Contact    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.company.url %>/disclaimer" target="_blank" title="disclaimer">
                            Disclaimer    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.company.url %>/privacy" target="_blank" title="privacy">
                            Pricavy    
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="no-bullets">
                    <h4>Connect</h4>
                    <li>
                        <a href="<%= algemeen.website.social.facebook %>" target="_blank" title="facebook pagina <%= algemeen.website.name%>.">
                            <i class="fa fa-facebook fa-fw"></i> Facebook    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.website.social.twitter %>" target="_blank" title="twitter account <%= algemeen.website.name%>.">
                            <i class="fa fa-twitter fa-fw"></i> Twitter    
                        </a>
                    </li>
                    <li>
                        <a href="<%= algemeen.website.social.google %>" target="_blank" title="googleplus pagina <%= algemeen.website.name%>.">
                            <i class="fa fa-google fa-fw"></i> Google+    
                        </a>
                    </li>
                    <br>
                    <img class="img-responsive" src="https://ucarecdn.com/50b2f2cd-e7d7-4048-a179-b63a5bb5ef25/-/resize/320x/" title="<%= algemeen.company.url %> is een Nederlands bedrijf" alt="<%= algemeen.company.url %> is een Nederlands bedrijf">
                </ul>
        </div>
    </div>
    
    <div class="container-fluid footer-bottom">
        <p class="text-muted text-center">
            <i class="fa fa-copyright"></i> <%= algemeen.company.name %> 2016 
            | <a href="">Over Digital Markets</a> 
            | <a href="mailto:<%=algemeen.company.contact.email%>"><i class="fa fa-envelope"></i> Neem contact met ons op</a> 
            | <a href="<%= algemeen.company.url %>/vacatures">Vacatures</a></p>
    </div>
</footer>
