<% if(!locals.data) {
    data = {
        meta: page,
    }
    data.meta.name = page.title;
    data.company = { name : "Digital Markets" };
} %>


<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="author" content="<%= data.meta.author %>" />
    <meta name="description" content="<%= data.meta.description %>">
    <meta name="keywords" content="<%= data.meta.keywords %>">
    <meta name="copyright" content="Copyright 2016 <%= algemeen.company.name %>" />
    
    <meta name="Robots" content="nofollow, noindex">

    <title><%= data.meta.title %></title>

    <link rel="shortcut icon" href="http://lev.sgk8icackivj9nqrrovifedcaoenvomncxrspweizjba2.netdna-cdn.com/images/flags/netherlands.gif" type="image/gif" />

    <!-- Latest compiled and minified CSS Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <!-- Font Awesome 4.6.3 -->    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" 
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/framework.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    
</head>
<body>